:root {
	--pith: rgb(255, 243, 204);
  --grapefruit: rgb(234, 114, 148);
	--tangerine: rgb(249, 150, 70);
	--lemon: rgb(255, 209, 78);
}
@font-face {
	font-family: 'learning_curveregular';
	src: url('learningcurve-webfont.eot');
	src: url('learningcurve-webfont.eot?#iefix') format('embedded-opentype'),
		url('learningcurve-webfont.woff2') format('woff2'),
		url('learningcurve-webfont.woff') format('woff'),
		url('/fonts/LearningCurve.ttf') format('truetype'),
		url('learningcurve-webfont.svg#learning_curveregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@-webkit-keyframes Background {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-moz-keyframes Background {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@keyframes Background {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

html, body, h1, h2, h3, h4, p, button, div {
	padding: 0;
	margin: 0;
	font-family: 'Cutive Mono',
		'Lucida Sans Typewriter',
		'Lucida Console',
		monaco,
		monospace;
	color: white;
	text-shadow: 1px 1px 1px var(--tangerine);
}
body {
	background: linear-gradient(
		75deg,
		var(--grapefruit),
		var(--lemon),
		var(--grapefruit),
		var(--tangerine)
	);
	background-size: 1000% 100%;

	-webkit-animation: Background 180s ease infinite;
	-moz-animation: Background 180s ease infinite;
	animation: Background 180s ease infinite;
}
h1, h2 {
	font-family: 'Learning Curve',
		'Lucida Sans Typewriter',
		'Lucida Console',
		monaco,
		monospace;
	font-size: 70px;
	font-weight: 500;

	text-align: left;
}
ul, li {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: var(--pith);
}
a:hover {
	color: var(--pith);
}
a:visited {
	color: var(--pith);
}
p {
	margin: 15px;
	font-size: 20px;
}
hr {
	height: 3px;

	border-top: 1px solid white;
	border-right: 0;
	border-bottom: 1px solid white;
	border-left: 0;
}
.italic {
	font-style: italic;
}


header {
	margin: 50px 5% -25px;
	width: 75%;
}
@media all and (min-width: 481px) and (max-width: 768px) {
	header {
		width: 40%;
	}
}
@media all and (min-width: 769px) {
	header {
		width: 75%;
	}
}

.quotation {
	margin: 15% 3% 15% 15%;
}
@media all and (min-width: 769px) {
	.quotation {
		width: 65%;
		margin: 5% auto;
	}
}
.quote {
	font-style: italic;
	text-align: justify;
}
.attribution {
	text-align: right;
}

.text p {
	width: 95%;
	margin: 0 auto;
	text-align: justify;
}
@media only screen and (min-width: 769px) {
	.text p {
		width: 85%;
		margin: 0 auto;
	}
}

.newsletter-form form {
	width: 85%;
	background-color: white;
	margin: 15% auto 5%;
	padding: 25px 0 25px;
	border: 3px solid var(--pith);
	box-shadow: 8px 12px var(--pith);

	text-align: center;
}
.newsletter-form p {
	display: inline;

	color: var(--grapefruit);
}
@media only screen and (max-width: 920px) {
	.newsletter-form p {
		display: block;
		margin: 0 5% 10px;
		text-shadow: none;
	}
}
.newsletter-form input {
	width: 175px;
	padding: 6px;

	border: 1px solid var(--lemon);
	border-radius: 5px;
}
.newsletter-form button {
	background-color: var(--lemon);
	border-color: var(--lemon);
	border-radius: 5px;

	color: white;
	font-size: 14px;
	padding: 3px 7px;
}
.newsletter-form button:hover {
	background-color: var(--tangerine);
	border-color: var(--tangerine);
	color: white;
}

footer {
	margin: 15% auto 20%;
}
footer p {
	text-align: center;
}
